<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu Principal</title>
        <link href="/css/styles-menu.css" rel="stylesheet">
    </head>
    <body>
        <header th:fragment="header">
            <div class="div-logo">
                
                <img  alt="Logo da Clínica" class="div-img" th:src="@{/img/LogoIFCons.png}">
                <div>
                    <h1>IFClin</h1>
                    <h3>Consultas</h3>
                </div>
            </div> 
            <input type="checkbox" id="menu-toggle"> 
            <label for="menu-toggle" class="menu-icon">☰</label>

            <nav>
                <ul class="menu">
                    
                    <li><a href="/index">Home</a></li>
                    <li class="dropdown"> 
                        <a href="#" class="dropbtn">Cadastros</a>
                        <ul class="dropdown-content">
                            <!--<li><a href="#" onclick="loadPage('/medico', 'main-content')">Médico</a></li>
                            <li><a href="#" onclick="loadPage('/paciente', 'main-content')">Paciente</a></li>-->
                            <li><a href="/medico">Médico</a></li>
                            <li><a href="/paciente">Paciente</a></li>
                            
                        </ul>
                    </li>
                    <!--<li><a href="#" onclick="loadPage('/consulta', 'main-content')">Consultas</a></li>-->
                    <li><a href="/consulta">Consultas</a></li>
                    <li><a href="/pedidoexame">Pedidos Exames</a></li>
                    <li><a href="#">Receitas</a></li>
                    <li><a href="/pagamento">Pagamentos</a></li>
                </ul>
            </nav>
        </header>
    </body>
<html>